@model doan.Models.Taikhoan 
@{
    ViewData["Title"] = "Chỉnh sửa thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item" style="font-family:'Segoe UI'; font-size: 16px">
                <i class="anticon anticon-home m-r-5" style="color: orangered"></i>
                Home
            </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminTaikhoans" asp-action="Index" style="font-family:'Segoe UI'; font-size: 16px">Danh sách tài khoản</a>
            <span class="breadcrumb-item active" style="font-family:'Segoe UI'; font-size: 16px">Chỉnh sửa thông tin</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTk" />
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label" style="font-weight:bold">Số điện thoại</label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label" style="font-weight:bold">Mật khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label" style="font-weight:bold">Tên quyền truy cập</label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thay đổi" class="btn btn-warning rounded" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
