@model doan.Models.Roles 
@{
    ViewData["Title"] = "Chỉnh sửa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item" style="font-family:'Segoe UI'; font-size: 16px">
                <i class="anticon anticon-home m-r-5" style="color: orangered"></i>
                Home
            </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index"style="font-family:'Segoe UI'; font-size: 16px">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active" style="font-family:'Segoe UI'; font-size: 16px">Chỉnh sửa</span>
        </nav>
    </div>
</div>

<form asp-action="Edit" asp-route-id="@Model.RoleId" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RoleId" />
    <div class="form-group">
        <div class="form-group col-md-6">
            <label class="col-sm-3 col-form-label" style="font-weight:bold">Tên phân quyền</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="RoleName" placeholder="Tên quyền">
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-sm-2 col-form-label" style="font-weight:bold">Mô tả</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="MoTa" placeholder="Mô tả">
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-warning rounded">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</form>